.boton-destacados {
	background-color: $background-color_1;
	color: $color_2;
	padding: 13px 12px;
	font-weight: bold;
	font-size: map-get($font-sizes, "medium");
	border: 1px solid rgba(154, 144, 108, 1);
	border-radius: 4px;

	&:hover {
		background-color: $background-color_3;
		color: $color_1;
	}
}

.boton-contactenos {
	background-color: $background-color_1;
	color: $color_2;
	padding: 11px 16px;
	font-weight: bold;
	font-size: map-get($font-sizes, "large");
	border: 1px solid rgba(154, 144, 108, 1);
	border-radius: 4px;

	&:hover {
		background-color: $background-color_3;
		color: $color_1;
	}
}

.gotopbtn {
	position: fixed;
	width: 35px;
	height: 35px;
	background-color: $background-color_1;
	border: solid 2px $border-color_1;
	bottom: 30px;
	left: 30px;
	text-decoration: none;
	text-align: center;
	line-height: 35px;
	color: $color_2;
	font-size: map-get($font-sizes, "large");

	&:hover {
		color: $color_1;
		background-color: $background-color_3;
		font-size: 22px;
	}
}