.carousel {
	z-index: 4;

	img {
		height: 530px;
		margin-top: 95px; //margin top por la posicion fija del header
	}

	h5 {
		font: 47px 'Alegreya', serif;
		padding-bottom: 50px;
	}

	p {
		font-size: 30px;
		padding-bottom: 35px;
		color: $color_2;
		font-family: $font-family_1;
	}
}

.carousel-item {
	img {
		animation: zoominoutsinglefeatured 7s ease-in-out;
	}
}

@keyframes zoominoutsinglefeatured {
	0% {
		transform: scale(1);
		opacity: 0.3;
	}

	100% {
		transform: scale(1.2);
		opacity: 1;
	}
}