.h2-destacados {
	font-size: 50px;
	text-align: center;
	margin-top: 60px;
	color: $color_3;
}

.h2-gluten-free {
	font-size: 50px;
	text-align: center;
	margin-top: 90px;
	color: $color_3;
}

.h2-contactanos {
	font: 45px 'Alegreya', serif;
	margin-left: 20px;
	color: $color_2;
	padding: 10px 0;
}

.h3 {
	font-size: 20px;
	color: $color_3;
}

.h4-gluten {
	text-align: start;
	font: 50px 'Alegreya', serif;
	color: $color_3;
	border-bottom: double rgba(154, 144, 108, 1);
	margin-bottom: 20px;
	margin-left: 28px;
	margin-right: 28px;
	padding: 0;
}