.galeria-imagen {
	width: 28%;
	margin-bottom: 18px;
}

.img-nosotros {
	margin-top: 10px;
	width: 32%;
	img {
		width: 100%;
		height: 300px;
		background: #fff;
		filter: grayscale(1);
		border: 1px solid #ccc;
		padding: 1px;
		transition: transform 0.2s;
	}
}

.img-whatsapp {
	position: relative;
	img {
		position: fixed;
		right: 20px;
		bottom: 20px;
		width: 60px;
		z-index: 3;
	}
}