@media screen and (min-width:1200px){
	.grid-container{
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 40px;
		padding: 30px;
	}

	.grid-item{
		height: 230px;
	}
}

@media screen and (max-width: 1200px) {
	.grid-container{
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
	
	.grid-item {
		img {
			&:hover {
				transform: scale(1.2);
			}
		}
	}

	.nosotros {
		p {
			line-height: 1.7;
		}

		img {
			height: 560px;
		}

	}

	.img-nosotros {
		width: 42%;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 991px) {
	footer {
		.container {
			padding: 40px 15px;
			margin-bottom: 30px;
		}

		text-align: center;

		.redes {
			justify-content: center;
		}

		.logo-footer {
			width: 100%;
			padding-bottom: 10px;
		}
	}

	#pizzas {
		.container {
			.destacados {
				width: 45%;
			}
		}
	}

	.nosotros {
		p {
			width: 100%;
			margin-bottom: 30px;
		}
	}

	.img-nosotros {
		width: 43%;
		margin-bottom: 20px;
	}

	.galeria-nosotros {
		img {
			&:hover {
				transform: scale(1.2);
			}
		}
	}

	.contactenos {
		.container {
			margin-top: 180px;
			margin-bottom: 70px;
			width: 60%;
		}
	}

	.ubicacion {
		.container {
			width: 80%;
		}
	}
}

@media screen and (max-width: 767px) {
	header {
		.logo {
			width: 210px;
			margin: 0;
		}
	}

	footer {
		text-align: center;

		.redes {
			justify-content: center;
		}

		.logo-footer {
			width: 100%;
			padding-bottom: 10px;
		}
	}

	#pizzas {
		.container {
			.destacados {
				width: 40%;
			}
		}
	}

	.grid-container{
		grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	}

	.container {
		width: 100%;
	}

	.img-nosotros {
		width: 90%;
		margin-bottom: 20px;
	}

	.contactenos {
		.container {
			width: 80%;
		}
	}

	.img-whatsapp {
		img {
			width: 30px;
			right: 10px;
			bottom: 10px;
		}
	}

	.ubicacion {
		.container {
			width: 90%;
		}
	}
}

@media screen and (max-width: 576px) {
	header {
		.logo {
			width: 190px;
			height: 70px;
		}
	}

	footer {
		.logo-footer {
			width: 100%;
			padding-bottom: 10px;
		}

		ul {
			margin-top: 10px;
		}

		.h3 {
			//clase encabezados footer
			margin-top: 15px;
		}
	}

	.container {
		width: 100%;
	}

	#pizzas {
		.container {
			.destacados {
				width: 70%;
			}
		}
	}

	.grid-item {
		img {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	
	.acerca-de-nosotros {
		.bloque-sala {
			left: 22%;
		}
	}

	.carousel {
		img {
			height: 82vh; //altura a ocupar del viewport en mobile
		}
	}

	.nosotros {
		img {
			height: 400px;
		}
	}

	.img-nosotros {
		width: 85%;
		margin-bottom: 20px;
	}

	.galeria-nosotros {
		img {
			&:hover {
				transform: scale(1.1); //reduccion de scale para no generar scroll lateral en responsive
			}
		}
	}

	.contactenos {
		.container {
			width: 90%;
		}
	}

	.img-whatsapp {
		img {
			right: 5px;
			bottom: 5px;
		}
	}

	.ubicacion {
		.container {
			width: 95%;
		}
	}
}